{% extends 'base_buttons' %}

{% block block2 %}
{#    <div class="container" style="text-align: center">Информация о тестах короновируса.</div>#}
    <div class="container">
        <h1 style="text-align: center">Информация о коронавирусных тестах.</h1>
        <div>
            Против нового штамма коронавируса COVID-19, вызвавшего эпидемию во всем мире, пока не разработано ни вакцин, ни лекарственных средств. Эксперты считают, что пройдет не менее полутора лет, прежде чем все клинические испытания будут завершены и разработки будут одобрены и выпущены на рынок.

            Единственная возможная мера на данный момент – быстрая диагностика для выявления инфицированных и размещения их на карантин. В этом помогут экспресс-тесты.
            Однако ресурсы любых медицинских учреждений ограничены, и даже страны с развитой экономикой не справились бы с проверкой всех людей «на всякий случай». Поэтому экспресс-тест имеет смысл проводить при явном подозрении на коронавирус. Даже при возвращении из зоны повышенного риска тест проводится не всем подряд, а только при признаках заболевания.

            Чаще всего тест на коронавирус назначается при необычно протекающих пневмониях, причина которых не установлена, а также при комплексе симптомов: кашель, высокая температура, проблемы с дыханием. При контакте с зараженными проверяют также всех, кто находился рядом с ними.
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center">Где производят экспресс тесты на коронавирус</h2>
        <div>
            В Китае и Южной Корее экспресс-тесты проводятся практически всем, при малейшем подозрении. Они объясняют это тем, что у многих болезнь протекает бессимптомно.

            Постепенно многие страны разрабатывают собственные тесты на коронавирус: США, Франция, Россия. Особенно эффективные разработки затем передаются в другие страны. Проблема первых экспресс-тестов в их длительности и низкой точности – они могли реагировать на другие штаммы коронавирусов, путая их с COVID-19.

            В США первое время столкнулись с проблемами при проведении анализов – многие тест-системы были бракованы, а их количества не хватало на всех нуждающихся. Медицинские компании не сразу получили разрешение на производство своих экспресс-тестов, но теперь на рынок уже вышли новые системы, основанные на данных китайских пациентов.

            Россия совместно с японской компанией также разработала экспресс-тесты на коронавирус. В ближайшие недели на российский рынок выйдет усовершенствованная версия теста, созданная ФМБА России. Разработки переданы в 13 стран мира.
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center">Как работает экспресс тест на коронавирус</h2>
        <div>
            Для анализа у пациента берут мазки из горла и носа. Также могут взять пробы из верхних и нижних дыхательных путей, мокроту, слюну. Образцы транспортируют в лабораторию, а затем проводят процедуру анализа.

            Она основана на методе ПЦР – полимеразной цепной реакции. Это метод молекулярной биологии. Для проведения анализа клетки, присутствующие в пробе, разрушаются, и из них высвобождаются фрагменты генетического материала – ДНК. Отобранную часть копируют и размножают для того, чтобы отследить конкретные фрагменты ДНК коронавируса. Если он найден, значит, в пробе присутствовал вирус. Также можно определить количество возбудителя болезни.

            Такой экспресс-тест длится около пяти часов. Также требуется время на доставку проб в лабораторию, так как вне ее провести такое исследование невозможно.

            Если инфекция выявлена, пациента помещают в стационар или на домашний карантин, а врач уведомляет о новом случае органы здравоохранения. Ложноположительных результатов анализа не может быть, как утверждает ГНЦ «Вектор», разработавший систему, которая использовалась в России до данного времени. Однако ложноотрицательные результаты возможны. Такое бывает при неправильной транспортировке проб. Поэтому, если подозрение на коронавирус не снято, даже при отрицательном анализе могут провести еще один тест.

            Также существует еще один метод, который пока находится в разработке. Он основан на поиске антител, которые выделяются организмом как реакция на заражение вирусом. Такой анализ существенно ускорит диагностику – можно будет установить, болен человек коронавирусом или нет, за 10 - 20 минут. Южнокорейская компания смогла выявить антитела COVID-19. Похожая разработка есть и у тайваньской компании.
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center">Где купить и сколько стоит экспресс тест на коронавирус</h2>
        <div>
            Многих россиян интересует, в какой аптеке можно купить тест на коронавирус. К сожалению, купить экспресс-тесты нельзя. ПЦР анализ может проводиться только в лабораторных условиях с помощью сложного оборудования. Также проведение такого анализа опасно, поэтому не каждая лаборатория имеет разрешение на такую работу. Она должна быть обеспечена средствами для работы с определенным уровнем патогенности микроорганизмов.

            Ведутся работы по производству переносных диагностических мини-лабораторий, которые дадут возможность тестировать пациентов в небольших клиниках, и даже в домашних условиях. Возможно, вскоре разработают максимально упрощенные экспресс-тесты по аналогии с тестами на определение уровня сахара в крови.

            На данный момент экспресс-тестами на коронавирус оснащены все центры гигиены и эпидемиологии, расположенные в крупных городах. Самостоятельно обратиться в центры Роспотребнадзора для сдачи анализов на коронавирус нельзя – нужно направление от врача. В случае госпитализации или подозрении медиков на COVID-19 врач сам назначит анализ, и его проведут бесплатно.
            Частные центры сейчас вообще не занимаются анализами на коронавирус, как платно, так и бесплатно. Максимум, который они могут предложить – анализы на обширные группы вирусов. Они не могут отдельно выявить конкретный штамм COVID-19. Поэтому даже положительный результат такого анализа вовсе не будет означать, что вы заражены COVID-19.

            В ближайшие недели ряд частных лабораторий запустит подобные анализы, которые можно сдать по собственному желанию. Они будут выявлять именно коронавирус 2019. Стоимость пока неизвестна, но ориентировочные цифры – до 10 тысяч за один анализ.

            Стоит иметь в виду, что без симптомов сдавать анализ практически бессмысленно – вирус ищут в клетках эпителия из носоглотки, и отсутствие симптомов означает, что вирус еще не поразил слизистую носа и горла. То есть во время инкубационного периода, который по последним данным уже может превышать 20 дней, с помощью экспресс-теста выявить вирус может и не получиться. При низкой концентрации вируса недостаточно чувствительные тесты попросту его не зафиксируют. Поэтому при отрицательном анализе тест обычно отправляют на проверку, и повторяют.
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center">Оcтавить заявку на прохождение теста</h2>
        <div>Мы перезвоним вам и скажем в каком ближайшем пункте вы сможете пройти тест</div>
{#        <form action="/corona_test/buy_test" method="post">#}
{#            <label><input type="..."> Текст</label>#}
{#            <div>#}
{#                <label>Ваш телефон: <input name="phone"></label>#}
{#            </div>#}
{#            <div>#}
{#                <label>Количество людей проходящих тест: <input name="amount"></label>#}
{#            </div>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <input type="submit">#}
{#        </form>#}
        <form action="/corona_test/buy_test" method="post" id="buy_form">
            <div class="form-group">
                <label for="exampleInputEmail1">Ваш телефон: </label>
                <input class="form-control" id="exampleInputEmail1" name="phone" placeholder="Введите телефон(только цифры)">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Количество людей проходящих тест: </label>
                <input class="form-control" id="exampleInputPassword1" name="amount">
            </div>
            <button type="button" class="btn btn-dark" id="click_button" onclick="myFunc();">Отправить</button>
        </form>
    </div>
    <script>
        function myFunc() {
            // alert("ff");
            var elem = document.getElementById("exampleInputEmail1");
            var buy_form = document.getElementById("buy_form");
            // alert(!isNaN(elem.phone));
            // alert(elem.value.length == 11);
            if (!isNaN(elem.value) && elem.value.length == 11) {
                // alert("получилось!");
                buy_form.submit();
            } else {
                alert("Введенный телефон некорректный! Вводите только цифры, без лишних знаков");

            }
        }

        // var b = document.getElementById("click_button");
        // b.addEventListener('click', myFunc);
    </script>
{% endblock %}