{% extends 'base_buttons' %}

{% block block2 %}
    <div style="text-align: center">
        <h1>О коронавирусе</h1>
        <div class="container">
            <h2 style="text-align: center">Что такое «коронавирус»</h2>
            <div>
            <p style="text-align: left">Коронавирусы относятся к семейству вирусов, которые вызывают разнообразные заболевания у людей — от
                обычной простуды до тяжелого острого респираторного синдрома.</p>
            <p style="text-align: left">Название "Коронавирус" было получено из-за шиповидных отростков на оболочке, которые напоминают
                корону</p>
            </div>
        </div>
        <div class="container">
            <h2 style="text-align: center">Возможные механизмы передачи</h2>
            <p style="text-align: left">Источниками коронавирусных инфекций могут быть, как больной человек, так животные. Некоторые коронавирусы
                заразны до проявления симптомов</p>
            <p style="text-align: left">Передается:</p>
            <ul>
                <li style="text-align: left">воздушно-капельным путем</li>
                <li style="text-align: left">воздушно-пылевым путем</li>
                <li style="text-align: left">фекально-оральным путем</li>
                <li style="text-align: left">контактный путем</li>
            </ul>
            <p style="text-align: left">Заболеваемость вырастает зимой и весной. После выздоровления, иммунитет не сможет защитить от
                реинфекции.</p>
        </div>
        <div class="container">
            <h2>Covid-19</h2>
            <p style="text-align: left">В декабре произошла вспышка заболеваний 2019-nCoV (новый коронавирус 2019 года), источником которой,
                считается рынок морепродуктов города Ухань, где также продавали летучих мышей и змей.</p>
            <p style="text-align: left">Преобладающей формой инфекции, которую провоцирует вирус, является респираторная. Кишечная разновидность
                встречается гораздо реже, в основном у детей. ОРВИ, которое возникает под действием вируса, обычно
                длится в течение нескольких дней и заканчивается полным выздоровлением. Однако в ряде случаев оно может
                приобретать форму атипичной пневмонии или тяжелого острого респираторного синдрома (ТОРС). Эта патология
                характеризуется высоким показателем летального исхода (38%), поскольку сопровождается острой дыхательной
                недостаточностью.</p>
            <p style="text-align: left">11 февраля 2020 года ВОЗ присвоила новому коронавирусу официальное название - Covid-19.</p></div>
        <div class="partners-block-mobile">
        </div>
        <div class="container"><h2 style="text-align: center">Симптомы коронавируса</h2>
            <p style="text-align: left">Инкубационный период коронавируса Covid-19 может продолжаться более двух недель. Более продолжительные
                сроки инкубационного периода могут быть характерны при передаче вируса от животных.</p>
            <p style="text-align: left">Симптомы коронавируса Covid-19 схожи с симптомами пневмонии или тяжёлого острого респираторного
                синдрома:</p>
            <ul class="symptoms">
                <li style="text-align: left">Потеря сознания (в результате прогрессирующего разрушения лёгочных тканей),</li>
                <li style="text-align: left">Сухой, непродуктивный кашель,</li>
                <li style="text-align: left">Лихорадка и повышение температуры (38 °С или выше, озноб),</li>
                <li style="text-align: left">Затруднения при дыхании,</li>
                <li style="text-align: left">Боли в области груди,</li>
                <li style="text-align: left">Головная боль,</li>
                <li style="text-align: left">Боль в мышцах,</li>
                <li style="text-align: left">Общее недомогание.</li>
            </ul>
        </div>
        <div class="container"><h2 id="measures">Меры профилактики коронавируса</h2>
            <ul class="measures">
                <li style="text-align: left">Часто мойте руки с мылом - не менее 20 секунд</li>
                <li style="text-align: left">Не касайтесь грязными руками глаз, рта и слизистых</li>
                <li style="text-align: left">Избегайте тесного контакта с зараженными людьми</li>
                <li style="text-align: left">Почаще делайте влажную уборку с использованием дезинфицирующих средств</li>
                <li style="text-align: left">Уточняйте эпидемиологическую обстановку при планировании путешествия</li>
                <li style="text-align: left">Используйте маски для защиты органов дыхания</li>
                <li style="text-align: left">При первых признаках заболевания обратитесь за медицинской помощью в лечебные организации</li>
            </ul>
        </div>
        <div class="container">
            <div class="js-news-widget">

            </div>
        </div>
    </div>
{% endblock %}